body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:30px;
  /* background-image: url(https://p4.wallpaperbetter.com/wallpaper/83/578/550/sword-art-online-yuuki-asuna-wallpaper-preview.jpg); */
}
button {
  margin:20px 0px;
  width:10vw;
  height:5vh;
  border-radius: 30px;
  font-size:30px;
}
table {
  width:20vw;
  border-collapse: collapse;
  border: 2px solid black;
  margin-bottom:100px;
}
td {
  text-align: center;
  padding: 10px;
  border: 2px solid black;

}
th {
  border: 2px solid black;
  padding: 10px;
  background-color: beige;
}